<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}default title{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	</head>

	<body>
		{% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %}
		            <div class="flashes">
		            	<p class="flashed-cat {{ category }}">{{ category }}</p>
		            	<p class="flashed-msg">{{ message }}</p>
		            </div>
		        {% endfor %} 
            {% endif %} 
        {% endwith %}

		<main>
            {% block content %} {% endblock %}
        </main>
	</body>
</html>
