{% extends "base.html" %} 

{% block title %}Home{% endblock %} 

{% block content %}

<h1 class="main-heading">Video Game Catalogue</h1>
<div class="add-games">
	<div class="add-game-search">
		<form method="POST" action="{{ url_for('game_search') }}">
			<input class="form-txt-box" type="text" name="game_search" placeholder="Search to add to catalogue." />
			<button class="sub-btn" type="submit">Search</button>
		</form>
	</div>
	<div class="add-game-no-search">
		<form method="POST" action="{{ url_for('steam_sync') }}">
			<input type="hidden" name="steam_sync" />
			<button class="sub-btn" type="submit">Sync Steam</button>
		</form>
		<form method="POST" action="{{ url_for('gamepass_update') }}">
			<input type="hidden" name="gamepass_update" />
			<button class="sub-btn" type="submit">Sync GamePass</button>
		</form>
	</div>
</div>

<div class="owned-games">
	{% for item in catalog|sort(attribute="title") %}
	<div class="catalog-game">
		<figure>
			<a href="{{ url_for('game_details', game_table_id=item.game_table_id) }}">
				<img class="cover-art" src="{{ item.cover }}" alt="Cover art for {{ item.title }}" />
			</a>
			<figcaption>
				<a href="{{ url_for('game_details', game_table_id=item.game_table_id) }}">{{ item.title }}</a>
			</figcaption>
		</figure>
	</div>
	{% endfor %}
</div>

{% endblock %}
