<!DOCTYPE html>
<head>

</head>
<body>
    <form method="POST", action="{{ url_for('processing') }}">
        <input type="hidden" name="game_table_id" value="{{ game_table_id }}">

        <label for="hltb_selection">Choose which game to get the HowLongToBeat data for:</label>
            <select name="hltb_selection">
                {% for result in hltb_results %}
                <option value="{{ result.game_id }}, {{ result.main_story }}, {{ result.main_extra }}, {{ result.completionist }}, {{ result.all_styles }}">{{ result.game_name }} released in {{ result.release_world }}</option>
                {% endfor %}
            </select>
        </ol>
        <button type="submit">Submit</button>
    </form>
</body>