<!DOCTYPE html>
<head>

</head>
<body>
    <form method="POST", action="{{ url_for('update_game_details') }}">
        <input type="hidden" name="game_table_id" value="{{ game_table_id }}">
                
        <a href="{{ url_for('game_details', game_table_id=game_table_id) }}">Cancel</a>

        <p>Does this game have controller support?</p>
        <label for="controller_support">Controller Support</label>
        <input type="radio" id="controller_support" name="controller_support" value="1">
        <label for="no_controller_support">No Controller Support</label>
        <input type="radio" id="controller_support" name="controller_support" value="0">

        <p>Owned on:</p>
        {% for value in ownership_values %}
        <label for="owned_platform">{{ value.platform }}</label>
        {% if value.owned %}
        <input type="checkbox" id="owned_platform" name="owned_platform" value="{{ value.platform }}" checked>
        {% else %}
        <input type="checkbox" id="owned_platform" name="owned_platform" value="{{ value.platform }}">
        {% endif %}
        {% endfor %}

        <p>Played on:</p>
        {% for value in played_on_values %}
        <label for="played_platform">{{ value.platform }}</label>
        {% if value.played %}
        <input type="checkbox" id="played_platform" name="played_platform" value="{{ value.platform }}" checked>
        {% else %}
        <input type="checkbox" id="played_platform" name="played_platform" value="{{ value.platform }}">
        {% endif %}
        {% endfor %}
        
        <label for="catalog_status">Catalog Status: </label>
        <select id="catalago_status" name="catalog_status">
            <option value="{{ cur_relationship_values.catalog_status }}">{{ cur_relationship_values.catalog_status.title()|replace('_', ' ') }}</option>
            
            {% if cur_relationship_values.catalog_status != 'backlog' %}
            <option value="backlog">Backlog</option>
            {% endif %}
            
            {% if cur_relationship_values.catalog_status != 'in_progress' %}
            <option value="in_progress">In Progress</option>
            {% endif %}
            
            {% if cur_relationship_values.catalog_status != 'main_complete' %}
            <option value="main_complete">Main Story Completed</option>
            {% endif %}
            
            {% if cur_relationship_values.catalog_status != 'fully_complete' %}
            <option value="fully_complete">Game Fully Completed</option>
            {% endif %}
            
            {% if cur_relationship_values.catalog_status != 'abandoned' %}
            <option value="abandoned">Abandoned</option>
            {% endif %}
        </select>
        
        <label for="date_main" value="{{ cur_relationship_values.date_main_completed }}">Date main story completed: </label>
        <input type="date" id="date_main" name="date_main">
        
        <label for="date_full" value="{{ cur_relationship_values.date_completed }}">Date game 100% completed: </label>
        <input type="date" id="date_full" name="date_full">
        
        <label for="hours_played" value="{{ cur_relationship_values.hours_played }}">Hours played: </label>
        <input type="number" id="hours_played" name="hours_played">
        
        <label for="rating" value="{{ cur_relationship_values.rating }}">Rating: </label>
        <input type="number" id="rating" name="rating" min="0" max="5">
        
        <label for="user_notes">Notes: </label>
        <textarea name="user_notes" id="user_notes" rows="4" cols="50" placeholder="Enter some notes about the game" value="{{ cur_relationship_values.user_notes }} if {{ cur_relationship_values.user_notes }} else ''"></textarea>
        
        <button type="submit">Update</button>
    </form>
</body>